body {
	padding-top: 70px;
}

.jbt {
	background-image: url("https://c1.staticflickr.com/3/2869/33861579702_0530475fdd_b.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
/*    color: black;*/
    opacity: 0.8;
}

.jbt2 {
	background-image: url("https://c1.staticflickr.com/3/2907/33861576532_d6651fff54_b.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
/*    color: white;*/
    opacity: 0.9;
}

.navbar {
	background-color: #23272d;
}

.navbar-inverse .navbar-brand {
    color: #f2f5f9;
}

.navbar-inverse .navbar-nav>li>a {
	color: #f2f5f9;
}

h1 {
	margin-bottom: 40px;
}

#line {
	margin-bottom: 80px;
}

.text {
	color:white;
}

.jbt2 .pheader {
	font-family: Georgia;
	color: white;
}

.pheader {
	font-family: Georgia;
	color: white;
}

#text2 {
	color:white;
}

.abouthover:hover {
	background-color:#7a7d82;
} 

.mailhover:hover {
	background-color:#7a7d82;
} 

.instagram:hover {
	background-color:#7a7d82;
}

.navbar-header:hover {
	background-color:#7a7d82;
}

.fa-diamond {
	margin-left: 10px;
}

